body{
   
    border: 3px solid  lightgreen;
   outline: 3px solid green;
   background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
  
 
  
} 

.para_border{
    background-color: black;
    color: beige;
    border: 3px solid red;
    display: inline-block;
   
    border-radius: 30px;
  
    text-align: center;
    font-style: italic;
    font-size: large;
    font-weight: bold;
}
#first_container{
    position:relative;
    
    width: 300px;
    top:10px;
    left:10px;
    padding: 5px;
}
#second_container{
    position:relative;
    top:-5px;
    left:-100px;
    padding-left: 60px;
    padding-right: 25px;
    height: 40px;
      
}
 #third_container{
    position:absolute;
    top:15px;
    right:20px;
    width:300px;
} 
 #main{
    display: flex;
    flex-wrap: wrap;
     
     align-items: center;
     justify-content: start;
     /* justify-content: space-evenly; */

    
} 
#circle{
    display: inline-block;
    border: 2px solid brown;
    background-color: aqua;
    color: rgb(80, 80, 19);
    text-align: center;
   
    width:400px;
    height:400px;
   margin: 10px;
   border-radius: 50%;
   position:relative;
   top:50px;
   left:125px;
}
#circle2{
position:relative;
top:103px;

}




#inp_form{
    border: 5px dashed red;
    text-align: center;
    width: fit-content;
    color: red;
    margin-left: 350px;
    margin-top:100px;
    padding: 5px;
    /* position: relative;
    top:-400px;
    left:600px; */

}
#menu{
    
    width:400px;
    margin-left: 35vw;
    margin-top: 25px;
}

#menu_list{
    display: flex;
    flex-wrap: wrap;
    
  

}
#items{
    border:2px solid green;
    margin:20px;
    background-color: aqua;
  
    border-radius: 20px;
    text-align: center;
    width:30%;
    color:rgb(39, 39, 146);
}